.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 284px));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 118px 0 0 0;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

@media screen and (max-width: 1186px) {
    .photo-grid {
        margin: 118px auto 0 auto;
        grid-template-columns: repeat(auto-fit minmax(auto, 352px));
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
    grid-template-columns: repeat(auto-fit minmax(auto, 352px));
    max-width: 100%;
    margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(auto, 288px));
        grid-row-gap: 12px;
        max-width: 288px;
        margin: 90px 16px 0 16px;
    }
    
}