.card__paragraph {
  margin: 0 auto 0 auto;
  padding: 0 0 80px 0;
  font-size: 18px;
  line-height: 29.34px;
  max-width: 484px;
  font-weight: 400;
  grid-row: span 4;
}

.card__paragraph:last-of-type {
  padding: 0;
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  .card__paragraph {
    max-width: calc(352px + (484 - 352) * ((100vw - 768px) / (1280 - 768)));
    padding: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .card__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 520px) {
  .card__paragraph {
    margin: 0 16px;
  }
}
