.cover-block__button {
    position: relative;
    width: 137px;
    height: 48px;
    margin: 32px auto 0 auto;
    background-color: #0278FE;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 0;
    align-self: center;
}

.cover-block__button:active {
    background-color: #0063D2;
    transition: 0s;
}