.cards__name {
    margin: 0;
    max-width: 460px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
}

@media screen and (max-width: 744px) and (min-width: 296px) {
    .cards__name {
        max-width: calc(288px + (340 - 288) * ((100vw - 296px) / (744 - 296) ));
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 295px) {
    .cards__name {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}