.card__button {
  display: flex;
  max-width: 248px;
  height: 48px;
  background-color: #0278fe;
  justify-content: center;
  align-items: center;
  margin: 48px 0 0 0;
  padding: 0;
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 4px;
}

.card__button:hover {
  background-color: #0063d2;
}

.card__button:active {
  background-color: #0063d2;
  transition: 0s;
}

@media screen and (max-width: 520px) {
  .card__button {
    margin: 30px 16px 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .card__button {
    min-width: 288px;
  }
}
