.cover-block__pic-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 656px;
    height: 254px;
    margin: 243px auto 0 auto;
    text-align: center;
    z-index: 2;
}