.cards__pic {
    max-width: 460px;
    margin: 0;
}

@media screen and (max-width: 744px) and (min-width: 297px) {
    .cards__pic {
        max-width: calc(340px + (460 - 340) * ((100vw - 297px) / (744 - 297) ));
    }
}

@media screen and (max-width: 320px) {
    .cards__pic {
        max-width: 100%;
    }
}