.cover__text {
  margin: 32px auto 0 auto;
  max-width: 320px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .cover__text {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
