.header__subtitle {
    margin: 32px auto 0 auto;
    font-size: 30px;
    line-height: 36px;
    max-width: 720px;
    font-weight: 400;
}

@media screen and (max-width: 744px) and (min-width: 297px) {
    .header__subtitle {
        font-size: calc(16px + (30 - 16) * ((100vw - 297px) / (744 - 297) ));
        line-height: calc(20px + (36 - 20) * ((100vw - 297px) / (744 - 297) ));
        margin: 32px 24px 0 24px;
    }
}

@media screen and (max-width: 296px) {
    .header__subtitle {
        margin: 16px 16px 0 16px;
        font-size: 16px;
        line-height: 20px;
    }
}