.header__subtitle {
    margin: 32px auto 0 auto;
    font-size: 30px;
    line-height: 36px;
    max-width: 720px;
    font-weight: 400;
    height: 72px;
}

@media screen and (max-width: 744px) and (min-width: 297px) {
    .header__subtitle {
        font-size: calc(16px + (30 - 16) * ((100vw - 297px) / (744 - 296) ));
        line-height: calc(20px + (36 - 20) * ((100vw - 297px) / (744 - 296) ));
    }
}

@media screen and (max-width: 296px) {
    .header__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}