.header__title {
    margin: 92px auto 0 auto;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    width: 100%;
}

@media screen and (max-width: 744px) {
    .header__title {
        margin: 88px auto 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .header__title {
        font-size: 40px;
        line-height: 44px;
        margin: 50.54px auto 0 auto;
    }
}