.cover-block__pic {
    display: flex;
    min-width: 100%;
    margin: 0 auto;
    height: 740px;
    background-color: rgba(42, 44, 47, 0.2);
    z-index: 1;
}

.cover-block__pic:hover {
    background-color: rgba(42, 44, 47, 0.7);
    transition: 0s;
} 