.cards__website {
    max-width: 456px;
    margin: 0 auto 0 0;
    align-self: end;
}

@media screen and (max-width: 744px) and (min-width: 297px) {
    .cards__website {
        max-width: calc(316px + (456 - 316) * ((100vw - 297px) / (744 - 297) ));
    }
}

@media screen and (max-width: 296px) {
    .cards__website {
        max-width: 288px;
    }
}

@media screen and (max-width: 520px) {
    .cards__website {
        margin: 0 16px;
    }
}